@import url("https://use.typekit.net/rlp6ofa.css");

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: var(--text-color);
  font-family: neue-haas-unica, sans-serif;
  font-weight: 400;
}

h1,
section,
p,
span,
svg {
  transition: background-color .5s, color .5s;
}

:root {
  /* Light Theme Variables */
  --color-text-light: #222222;
  --color-background-light: #FAF5E3;
  --color-primary-light: #e5a1aa;
  --color-secondary-light: #7AD0AC;
  --color-tertiary-light: #8395CD;

  /* Dark Theme Variables */
  --color-text-dark: #FAF5E3;
  --color-background-dark: #8395CD;
}

.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-primary: var(--color-primary-light);
  --color-secondary: var(--color-secondary-light);
  --color-tertiary: var(--color-tertiary-light);
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-primary: var(--color-text-dark);
  --color-secondary: var(--color-text-dark);
  --color-tertiary: var(--color-text-dark);
}

.hidden {
  display: none;
}

/* Experience */

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Preloader */

.preloader {
  background-color: var(--color-background-light);
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: fixed;
  z-index: 999999999;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  margin: 0.25rem;
  animation: loading 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-0.75rem);
  }

  40% {
    transform: translateY(0);
  }
}

/* Page */

.page {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Intro */

.animatethis {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text)
}

.arrow-svg-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  fill: var(--color-text);
  animation: bounce .5s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

/* Toggle */

.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 3rem;
  right: 3rem;
  opacity: 0;
  z-index: 99999;
}

.sun-wrapper,
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: var(--color-text);
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 3.5rem;
  height: 2rem;
  background-color: var(--color-primary);
  border-radius: 9999px;
  margin: 0 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle {
  position: absolute;
  left: 0.5rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-background);
  transition: all .2s ease-in-out;
}

.toggle-button:hover .toggle-circle {
  transform: scale(0.8);
}

.slide {
  left: 1.6rem;
}

/* Hero Section */

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10rem);
  max-width: 100rem;
  margin: 0 auto;
}

.hero-main {
  position: absolute;
  bottom: 12rem;
  color: var(--color-text);
}

.hero-second {
  position: absolute;
  top: calc(50% - 8rem);
  right: 0;
  color: var(--color-text);
}

.hero-main-title {
  font-family: venn-extended,sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: var(--color-text);
}

.hero-main-description {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--color-text);
}

.hero-second-subheading {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--color-text);
}

/* Sections */

.section-margin {
  height: 187.5rem;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;
  padding: 62.5rem 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 43.75rem 43.75rem;
}

.right {
  margin-left: auto;
  border-top-left-radius: 43.75rem 43.75rem;
}

/* Sections - Progress Bars */

.progress-wrapper {
  height: 0;
  width: 0.8rem;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary);
  transform-origin: top center;
  transform: scaleY(1);
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 25rem;
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 4rem;
  color: var(--color-text);
}

.section-text {
  line-height: 1.9;
  margin-top: 18px;
  font-size: 1rem;
  color: var(--color-text);
}

/* Section - Decoration */

.section-title {
  position: relative;
  color: var(--color-primary);
}

.section-title-text {
  display: block;
  font-size: 2.4rem;
  text-transform: uppercase;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  color: var(--color-primary);
}

.section-title-decoration {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 16.125rem;
  height: 3rem;
  border: 1px solid var(--color-primary);
  transform-origin: left;
  transform: skewY(-25deg);
}

.section-title-decoration:first-child {
  top: 0;
}

.section-title-decoration:nth-child(2) {
  top: 6rem;
}

.section-title-decoration:last-child {
  top: 6rem;
  transform: skewY(25deg);
  background-color: var(--color-primary);
}

.section-number {
  position: absolute;
  bottom: 1rem;
  right: 0;
  font-size: 1.5rem;
  color: var(--color-text);
}

/* Section - Color Overriddes */

.secondary-text {
  color: var(--color-secondary);
}

.secondary-border {
  border-color: var(--color-secondary);
}

.secondary-background {
  background-color: var(--color-secondary);
}

.tertiary-text {
  color: var(--color-tertiary);
}

.tertiary-border {
  border-color: var(--color-tertiary);
}

.tertiary-background {
  background-color: var(--color-tertiary);
}

/* Media Queries */

@media (max-width: 968px) {
  .section {
    width: 100%;
  }

  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }

  .hero-main {
    bottom: 8.5rem;
  }

  .hero-second {
    top: 10rem;
  }

  .hero-wrapper {
    width: calc(100% - 4rem);
  }

  .hero-main-title {
    font-size: 2rem;
  }

  .hero-main-description {
    font-size: 1.2rem;
  }

  .hero-second-subheading {
    font-size: 1.2rem;
  }
}
